doctype html
html(lang='eng')
  head
    title Home Page
    link(rel="shortcut icon" href="/images/favicon.png")

    style(type='text/css')
      |  * {
      |    font-family: Helvetica, Arial, sans-serif;
      | }
      | div {
      |   display: flex;
      |   align-items: center;
      |   padding: 1em;
      |   font-size: 1.2em;
      | }
      | div a {
      |   padding-left: 0.5em;
      | }
  body
    h2 Landing page ...