doctype html
html(lang='eng')
  head
    title Logo
    link(rel="shortcut icon" href="/images/favicon.png")

    style(type='text/css')
      |  * {
      |    font-family: Helvetica, Arial, sans-serif;
      | }
      | div {
      |   display: flex;
      |   align-items: center;
      |   padding: 1em;
      |   font-size: 1.2em;
      | }
      | div a {
      |   padding-left: 0.5em;
      | }
  body
    h2 Logo in SVG ...

    svg(xmlns='http://www.w3.org/2000/svg', version="1.1", height="300", width="400")
      circle(r="130", cx="134", cy="134", fill="none", stroke="#008b6f" stroke-width="7")

      //- rect(height="50", width="80", fill="#fff", x="10", y="10")
      //- rect(height="10", width="40", x="30", y="90")