div.l-searchContainer.searchContainer.js-showSearchPanel
  a.searchButton.searchButton--default
    i.fa.fa-search
div.l-searchWrapper.searchWrapper.js-searchPanel
  form(action="#" method='post').l-searchWrapper__form
    a.searchButton.searchButton--whiteSquare
      i.fa.fa-search
    input(type="text" name="s" placeholder="Enter your search").searchInput
    a.closeButton.closeButton--dimmedSquare.js-hideSearchPanel
      i.fa.fa-close